<% content_for :page_title do %>
  <i class="fa fa-envelope"></i> Messages
<% end %>

<a href="#" rel="tooltip" title="Sample Test">TESTING!</a>
<a class="has-popover" title="Sample popover" data-content="Sample Description">
Some messages lists here!
</a>
