<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">Main Menu</li>
      <%= main_menu_item(:dashboard, icon: "tachometer") %>
      <%= main_menu_item(:users) %>
      <%= main_menu_item(:messages, icon: "envelope") %>
    </ul>
  </section>
</aside>
